@model DevExtremeMvcApp2.Models.Airport

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Airport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ident)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ident)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.latitude_deg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.latitude_deg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.longitude_deg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.longitude_deg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.elevation_ft)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.elevation_ft)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.continent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.continent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iso_country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iso_country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iso_region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iso_region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.municipality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.municipality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scheduled_service)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scheduled_service)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gps_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gps_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iata_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iata_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.local_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.local_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.home_link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.home_link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wikipedia_link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wikipedia_link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.keywords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.keywords)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
